
/* ====================== Start of Custom CSS ===================== */

/* Body Font and Background */
body{
  font-family: 'Inter', sans-serif;
  color: white;
  width: 100%;
  min-height: 100vw;
  overflow: hidden;
}

h1{
  margin-bottom: 0.15em;
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: -.1rem;
}


h2{
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: -.05rem;
  line-height: 1;
  margin-bottom: 0.2em;
}

p{
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: -.05rem;
}

.content{
  margin-top: 16em;
}

#bg-img{
  position: absolute;
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intergers{
  font-weight: 400;
  font-size: 7em;
  font-family: 'Roboto Mono', monospace;
}

button{
  margin-left: 1em;
  padding: 0.5em;
  background: white;
  border: none;
  margin-top: 0.5em;
  border-radius: 7px;
}

button:hover{
  background: rgb(189, 189, 189);
  transition: 0.2s;
}

/* ==== JAVASCRIPT CLASSES ==== */

/* Display None */
.dnone{
  opacity: 0%;
  visibility: hidden;
  transition: 0.4s;
}

/* Display Block */
.dblock{
  opacity: 100%;
  visibility: visible;
  transition: 0.4s;
}

#settingblock{
  border-radius: 15px;
  margin-left: 1em;
  margin-top: 1em;
  padding: 2em;
  position: absolute;
  background-color: white;
  color: black;
}

#infoblock {
  margin-top: 2em;
  padding-top: 1em;
  color: black;
  background-color: white;
  padding-bottom: 100%;
}

